* {
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    color: #666;
    margin-bottom: 20px;
    font-size: 28px;
}

img {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    color: #666;
    font-size: 20px;
}