.reserva {
    background-color: #ffffff;
    border: 1.5px solid #dddddd;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 4px;
}

h2 {
    font-size: 18px;
    margin-bottom: 5px;
    padding: 3px;
}

p {
    padding-left: 7px;
}

a {
    padding: 10px;
    padding-left: 7px;
}

#boton_cancelar
{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 120px;    
}
