#nombre_reserva,
#cant_personas,
#inicio_fecha,
#fin_fecha,
#tipo_habitacion,
#reservar {
    cursor: pointer;
}

#imagen-reserva img {
    margin: 10px 0;
    height: 450px;
    margin-right: 100000px;
}