<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500 - Error interno del servidor</title>
    <link rel="stylesheet" href="/T.P-IDS-grupo-Los-matadores/Front/static/css/500.css">
</head>
<body>
    <h1>Error 500 - Error interno del servidor</h1>
    <p>Lo sentimos, ha ocurrido un error interno en el servidor.</p>
    <p>Por favor, inténtalo de nuevo más tarde.</p>
    <img src="/T.P-IDS-grupo-Los-matadores/Front/static/images/error500.png" class="img-responsive" alt="Error 500">
    <footer>
        <p>&copy; 2024 Luna de Plata Suites</p>
    </footer>
</body>
</html>
