{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/propio/error.css') }}">
{% endblock %}

<div>
    <h1>Error 500 - Error interno del servidor</h1>
    <p>Lo sentimos, ha ocurrido un error interno en el servidor.</p>
    <p>Por favor, inténtalo de nuevo más tarde.</p>
    <img src="{{ url_for('static', filename='/images/error500.png') }}" class="img-responsive" alt="Error 500">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Volver al Inicio</a>
    <footer>
        <p>&copy; 2024 Luna de Plata Suites</p>
    </footer>
</div>
<!-- <title>Error 500 - Error interno del servidor</title> -->
