{% extends "base.html" %}

{% block title %}
Reservar Habitación
{% endblock %}

{% block styles %}

<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/propio/disponibilidad.css') }}"
/>

{% endblock %}

{% block js %}

{% endblock %}

{% block body %}

<div class="fh5co-parallax" data-stellar-background-ratio="0.5"
	style="background-image: url({{ url_for('static', filename='/images/fondo_reservar.jpg') }});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div
				class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro fh5co-table-cell">
					<h1 class="text-center">Habitaciones Disponibles</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-contact-section">
	<div class="container-fluid">
		<div class="row">
			{% if habitaciones|length == 0 %}
				<h1>No hay habitaciones disponibles</h1>
			{% else %}
				{% for habitacion in habitaciones %}
	        <div class="col-md-12 col-sm-12">
						<div class="habitacion row">
							<div class="habitacion-cols col-md-6 col-sm-12">
								<!-- hay que agregar esto de abajo de alguna manera -->
								<!-- <div class="image" style="background-image: url({{ url_for('static', filename='/images/flotante.jpg') }});">
									<div class="descrip text-center">
										<p><small>Espacio para</small><span>hasta {{habitacion.cantidad_personas}} personas</span></p>
									</div>
								</div> -->
								<div>
									<p><span>Tipo de habitacion:</span> {{habitacion.tipo_habitacion}}</p>
									<p>
										<span>Cantidad de personas:</span> {{habitacion.cantidad_personas}}
									</p>
									<p><span>Fecha de ingreso:</span> {{habitacion.fecha_ingreso}}</p>
									<p><span>Fecha de egreso:</span> {{habitacion.fecha_egreso}}</p>
								</div>
								<!-- <p><a href="#" class="btn btn-primary btn-luxe-primary">Reservar Ahora <i class="ti-angle-right"></i></a>
												</p> -->
								<form method="GET" action="{{ url_for('disponibilidad') }}">
									<input type="submit" name="boton_reservar" value="Reservar" id="boton_reservar" />
								</form>
							</div>
								<div class="col-md-6 col-sm-12">
									<img alt="Imagen vista de habitacion"
										src="{{ url_for('static', filename='images/fondo_habitaciones.jpg') }}" />
								</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock%}