{% extends "base.html" %} {% block styles %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mostrar_reserva.css') }}"
/>

{% endblock %} {% block js %} {% endblock %} {% block body %}
<div
  class="fh5co-parallax"
  data-stellar-background-ratio="0.5"
  style="background-image: url({{ url_for('static', filename='images/fondo_reservar.jpg') }});"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table"
      >
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center" style="text-transform: uppercase">
            Tus reservas
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-contact-section">
  <div class="container-fluid">
    <div class="row">
      {% if reservas|length == 0 %}
        <h1>No tenes ninguna reserva</h1>
      {% else %}
        {% for reserva in reservas %}
        <div class="col-md-12 col-sm-12">
            <div class="reserva row">
              <div class="reserva-cols col-md-6 col-sm-12">
                <div>
                    <p><span>Nombre:</span> {{reserva.nombre_reserva}}</p>
                    <p>
                        <span>Cantidad de personas:</span> {{reserva.cantidad_personas}}
                    </p>
                    <p><span>Fecha de ingreso:</span> {{reserva.fecha_ingreso}}</p>
                    <p><span>Fecha de egreso:</span> {{reserva.fecha_egreso}}</p>
                </div>
                <form method="DELETE" action="{{ url_for('reservas') }}">
                    <input
                    type="submit"
                    name="boton_cancelar"
                    value="Cancelar"
                    id="boton_cancelar"
                    />
                </form>
              </div>
              <div class="col-md-6 col-sm-12">
                  <img alt="Imagen vista de habitacion" src="{{ url_for('static', filename='images/fondo_habitaciones.jpg') }}"/>
              </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
