{% extends "base.html" %}

{% block title %}
	Tus Reservas
{% endblock %}

{% block styles %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/propio/mostrar_reserva.css') }}"
/>

{% endblock %} 

{% block js %} 

{% endblock %} 

{% block body %}
<div
  class="fh5co-parallax"
  data-stellar-background-ratio="0.5"
  style="background-image: url({{ url_for('static', filename='images/fondo_reservar.jpg') }});"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table"
      >
        <div class="fh5co-intro fh5co-table-cell">
          <h1 class="text-center" style="text-transform: uppercase">
            Tus reservas
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-contact-section">
  <div class="container-fluid">
    <div class="row">
      {% if reservas|length == 0 %}
        <h1>No tenes ninguna reserva</h1>
      {% else %}
        {% for reserva in reservas %}
        <div class="col-md-12 col-sm-12">
          <div class="reserva row">
            <div class="reserva-cols col-md-6 col-sm-12">
              <div>
                <p><span>Id de la reserva:</span> {{reserva.id_reserva}}</p>
                <p><span>Tipo de habitacion:</span> {{reserva.tipo_habitacion}}</p>
                <p>
                    <span>Cantidad de personas:</span> {{reserva.cantidad_personas}}
                </p>
                <p><span>Fecha de ingreso:</span> {{reserva.fecha_inicio}}</p>
                <p><span>Fecha de egreso:</span> {{reserva.fecha_salida}}</p>
                <p><span>Total a pagar:</span> {{reserva.total_a_pagar}}</p>
              </div>
              <form method="post" action="{{ url_for('eliminar_reserva', id_reserva = reserva.id_reserva, dni= reserva.dni_persona) }}">
                  <input
                  type="submit"
                  name="boton_cancelar"
                  value="Cancelar"
                  id="boton_cancelar"
                  />
              </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <img alt="Imagen vista de habitacion" src="{{ url_for('static', filename='images/fondo_habitaciones.jpg') }}"/>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
