{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/reservar.css') }}">

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/propio/reservar.js') }}"></script>

{% if chequear %}
<script>
    alert("Ingrese una fecha valida");
</script>
{% endif %}

{% endblock %}

{% block body %}

<div class="fh5co-parallax" data-stellar-background-ratio="0.5" style="background-image: url(static/images/fondo_reservar.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div
                class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">RESERVAR</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-contact-section">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title text-center">
                    <div class="centro_habitaciones">
                        <h2>Consultar Habitaciones</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form method="POST" action="{{ url_for('reservar') }}">
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre_reserva">Nombre:</label>
                                    <input type="text" id="nombre_reserva" class="form-control" name="nombre_reserva"
                                        placeholder="Ingrese su nombre" required>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-6">
                            </div> -->
                            <div class="col-md-6">
                                <div class="centro_column1">
                                    <div class="form-group">
                                        <label for="cantidad_personas">Cantidad de personas:</label>
                                        <input type="number" id="cantidad_personas" class="form-control" name="cantidad_personas"
                                            placeholder="Ingrese la cantidad de personas" required>

                                    </div>
                                    <div class="form-group">
                                        <label for="inicio_fecha">Inicio de reserva:</label>
                                        <input type="date" id="inicio_fecha" class="form-control" name="inicio_fecha"
                                            placeholder="Ingrese una fecha" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="fin_fecha">fin de reserva:</label>
                                        <input type="date" id="fin_fecha" class="form-control" name="fin_fecha"
                                            placeholder="ingrese una fecha" required>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                            </div> -->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_habitacion">tipo de habitacion:</label>
                                    <select id="tipo_habitacion" class="form-control" name="tipo_habitacion" required>
                                        <option value="">Seleccione un tipo de habitación</option>
                                        <option value="simple">Individual</option>
                                        <option value="doble">Doble</option>
                                        <option value="suite">Suite</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="centrar_disponibilidad">
                                        <input type="submit" value="Consultar Disponibilidad" id="btn_reservar" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <div class="col-md-4">
                <div class="text-center" id="imagen-reserva">

                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title text-center">
                    <div class="centrar_reservas">
                        <h2>Mis Reservas</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form method="get" action="{{ url_for('reservas') }}">
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="centro_column2">
                                    <div class="form-group">
                                        <div class="centrar_dni">
                                            <label for="dni_reserva">DNI</label>
                                            <input type="number" id="dni_reserva" class="form-control" name="dni_reserva"
                                                placeholder="Ingrese su DNI" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="centrar_dni_boton">
                                        <input type="submit" value="Consultar Reservas" id="btn_reservar" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}